<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BT3-b</title>
</head>
<body>
    <table border="1" style="text-align: center;">
        <tr>
            <th colspan="5">Thông tin sinh viên</th>
        </tr>
        <tr>
            <td rowspan="4"><img src="https://i.imgur.com/ZaZyoZX.png"> </td>
            <td width="100">Họ và tên</td>
            <td colspan="3">Nguyễn Minh Nguyên</td>
        </tr>
        <tr>
            <td>MSSV</td>
            <td>22DH114648</td>
            <td> Giới tính</td>
            <td>Nam</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>Nguyn@gmail.com</td>
            <td>SĐT</td>
            <td>0369889627</td>
        </tr>
        <tr>
            <td>Sở thích</td>
            <td colspan="3">Viết CT</td>
        </tr>
    </table>
    </table>
    <div>
        @RenderBody()
    </div>
</body>
</html>
