<!DOCTYPE HTML>
<html>
<head>
    <html lang="vi">
    <meta charset="UTF-8">
    <meta name="description" content="Bài tập thực hành lập trình Web buổi 1 bài tập 1">
    <meta name="keywords" content="Lập trình Web cơ bản">
    <title> BT1 </title>
    <link rel="stylesheet" href="style1.css">
    <style type="text/css">
        .header-logo {
            float: left;
            margin-left: 100px;
            width: 116px;
            height: 36px;
            padding: 2,5px;
        }

        .header-right {
            color: white;
            padding: 12px;
            float: right;
            margin-right: 200px;
        }

        .header-right a {
            margin-right: 20px;
        }

        body {
            background-color: #F5F5F5;
            margin: 0;
        }

        .horizontal-list {
            display: flex;
            justify-content: center;
            list-style: none;
            background-color: white;
            margin-top: 3px;
        }

        .horizontal-list li {
            margin-right: 20px;
            font-size: 12px;
            padding: 5px;
        }

        .body-left {
            width: 20%;
            float: left;
        }

        .body-center {
            width: 800px;
            float: left;
        }

        .body-center h1, h3 {
            font-family: "Verdana";
        }

        .avatar {
            display: flex;
        }

        .paraghrap {
            font-family: "Verdana";
        }

        .paraghrap a {
            color: blue;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <div style="background-color:red; height: 40px;">
        <img class="header-logo" src="https://static-tuoitre.tuoitre.vn/tuoitre/web_images/logottonew.svg">
        <div class="header-right">
            <a>Podcast</a>
            <a>Youtube</a>
            <a>Cần biết</a>
            <a>Rao vặt</a>
        </div>
    </div>
    <div>
        <ul class="horizontal-list">
            <li>VIDEO</li>
            <li>THỜI SỰ</li>
            <li>THẾ GIỚI</li>
            <li>PHÁP LUẬT</li>
            <li>KINH DOANH</li>
            <li>CÔNG NGHỆ</li>
            <li>XE</li>
            <li>DU LỊCH</li>
            <li>NHỊP SỐNG TRẺ</li>
            <li>VĂN HÓA</li>
            <li>GIẢI TRÍ</li>
            <li>THỂ THAO</li>
            <li>GIÁO DỤC</li>
            <li>NHÀ ĐẤT</li>
            <li>SỨC KHỎE</li>
            <li>GIẢ THẬT</li>
            <li>BẠN ĐỌC</li>
        </ul>
    </div>
    <div class="body-left">
        Menu
    </div>
    <div class="body-center">
        Khoa học
        <h1>Đàn cá mập đầu búa tụ tập khi trăng tròn, chuyện gì xảy ra?</h1>
        <div class="avatar">
            <img style="width: 40px;margin-right: 10px;" src="https://static-tuoitre.tuoitre.vn/tuoitre/web_images/author_default.png">
            <a style="margin-top: 12px;">Minh Nguyên</a>
        </div>
        <hr>

        <h3>Mỗi mùa hè phương Nam và vào ngày trăng tròn, những con cá mập đầu búa cái lại bí ẩn tụ tập về các đảo san hô ở Polynesia thuộc Pháp.</h3>
        <img style="width: 800px;" src="https://cdn.tuoitre.vn/thumb_w/730/471584752817336320/2023/9/3/ca-map-dau-bua-1693730800752372272482.jpg">
        <div>
            <p style="color: #999999;">Nhiều con cá mập đầu búa cái đã tụ tập bí ẩn ở khu vực giữa của hai đảo san hô Tikehau và Rangiroa, thuộc quần đảo Polynesia, Pháp - Ảnh: GETTY</p>
        </div>
        <hr>
        <div class="paraghrap">
            <p>Các nhà khoa học gọi vui đây là "Hội nghị đầu búa cái", thường diễn ra từ tháng 12 đến tháng 3, ở khu vực giữa của hai<a href="https://tuoitre.vn/dao-san-ho.html"> đảo san hô</a> Tikehau và Rangiroa, thuộc quần đảo Polynesia, Pháp.</p>

            <p>Mỗi mùa hè, các nhà khoa học quan sát thấy 54 con <a href="https://tuoitre.vn/chiec-bua-cua-ca-map-dau-bua-de-lam-gi-144848.htm">cá mập đầu búa</a> cái lớn trong các đảo san hô, đồng thời họ cũng ghi nhận một con không thể xác định chắc chắn giới tính, theo Live Science.</p>

            <p>Tại đảo san hô Rangiroa, những con cái này tập trung ở một địa điểm được gọi là "cao nguyên đầu búa", dưới độ sâu khoảng 45 - 60m. Hơn một nửa số <a href="https://tuoitre.vn/ca-map.html">cá mập </a> là cư dân theo mùa, nghĩa là chúng ở đó 6 ngày 1 tháng, và trong tối đa 5 tháng.</p>

            <p>Theo các nhà khoa học, chúng bơi độc lập với nhau và có thể không có mối quan hệ nào với nhau mà bị thu hút đến đảo bởi các yếu tố bên ngoài, dường như có liên quan đến chu kỳ Mặt trăng.</p>
        </div>
        <div>
            <img style="width: 800px" src="https://cdn.tuoitre.vn/thumb_w/730/471584752817336320/2023/9/3/ca-map-dau-bua-16937306355602099681205.jpg">
            <p style="color: #999999;">Nhiều con cá mập đầu búa cái đã tụ tập bí ẩn ở khu vực giữa của hai đảo san hô Tikehau và Rangiroa, thuộc quần đảo Polynesia, Pháp - Ảnh: GETTY</p>
            <hr>
        </div>
        <div class="paraghrap">
            <p>Các nhà nghiên cứu cho rằng số lượng cá mập đầu búa cái lên đến đỉnh điểm vào những ngày trăng tròn vào mùa hè, có lẽ vì ánh trăng sáng đã tăng cường khả năng săn mồi quanh đảo san hô vào ban đêm của chúng.</p>

            <p>Thời điểm cá đầu búa tập trung cũng trùng hợp với số lượng lớn cá đuối đại bàng mắt trắng (Aetobatus ocellatus) xâm nhập vào đầm phá để sinh sản. Và cá mập săn mồi những con cá đuối này.</p>

            <p>Các đầm phá và vùng nước ven biển ấm áp được bảo vệ cũng là nơi sinh sản của nhiều loài cá mập khác nhau, và các nhà khoa học đang mở cuộc điều tra sâu hơn để xác định xem liệu các đảo san hô Rangiroa và Tikehau có phải là nơi sinh sản của cá mập đầu búa lớn, loài đang nguy cơ tuyệt chủng rất cao, hay không.</p>

            <p>Những phát hiện này được công bố trên tạp chí <i>Frontiers in Marine Science</i>.</p>
        </div>

    </div>
    <div class="body-right">
        Menu
    </div>
</body>
</html>
@RenderBody()
