<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
</head>
<body>
    <a href="~/Home/Login_View">Login</a>
    <a href="~/Home/Register_View">register</a>
    <a href="~/Home/Repass_View">repass</a>
    <div>
        @RenderBody()
    </div>
</body>
</html>
