<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
</head>
<body>
    <div>
        <h1>NHẬP THÔNG TIN SINH VIÊN</h1>
        <form action="https://www.google.com/" method="POST">
            <label>HỌ VÀ TÊN: </label>
            <input type="text" name="name">
            <br>
            <label>MÃ SỐ SINH VIÊN: </label>
            <input type="text" name="MSSV">
            <br>
            <label>NGÀY SINH: </label>
            <input type="date" name="NS">
            <br>
            <label>CHUYÊN NGÀNH: </label>
            <input type="radio" name="CN"> CNPM
            <input type="radio" name="CN"> HTTT
            <input type="radio" name="CN"> AN NINH MẠNG
            <br>
            <label>SỞ THÍCH:</label> <br>
            <input type="Checkbox" name="hobby"> VIẾT CHƯƠNG TRÌNH <br>
            <input type="Checkbox" name="hobby"> PHÂN TÍCH CSDL <br>
            <input type="Checkbox" name="hobby"> XÂY DỰNG ĐỒ ÁN MẠNG <br>
            <label>MÀU SẮC YÊU THÍCH: </label>
            <input type="color" id="colorPicker" name="colorPicker">
            <br>
            <label>TÊN ĐĂNG NHẬP: </label>
            <input type="text" name="LOGIN">
            <br>
            <label>MẬT KHẨU: </label>
            <input type="password" name="password">
            <br>
            <button type="submit"> Gửi dữ liệu về máy chủ </button>
        </form>
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
