<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>repass</title>
</head>
<body>
    <form style="width: fit-content;text-align: center;">
        <fieldset>
            <legend> Lấy lại mật khẩu</legend>
            <label for="mssv">Mã số sinh viên: </label><br>
            <input type="text" id="mssv" name="mssv">
            <br>
            <label for="password">Mật khẩu cũ: </label><br>
            <input type="password" id="password" name="password">
            <br>
            <label for="new-password">Mật khẩu mới: </label><br>
            <input type="password" id="new-password" name="new-password">
            <br>
            <label for="new-repassword">Nhập lại mật khẩu mới: </label><br>
            <input type="password" id="new-repassword" name="new-repassword">
            <br>
            <button>
                Lưu lại
            </button>
            <br>
        </fieldset>
    </form>
    <div>
        @RenderBody()
    </div>
</body>
</html>
